USE [master]
GO
Create database PE_Example
GO
USE PE_Example
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [varchar](10) NOT NULL primary key,
	[SubjectName] [nvarchar](max) NOT NULL,
)
GO
insert into [Subjects] values('NWC202','Computer Networking')
insert into [Subjects] values('CSI101','Connecting to CS')
insert into [Subjects] values('WED201c','Web Design')
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [nvarchar](10) NOT NULL primary key,
	[StudentName] [nvarchar](30) NOT NULL,
	[BirthDate] datetime not NULL,
	[Gender] [bit] NULL,
	[SubjectID] [varchar](10) NULL references [Subjects](SubjectID)
)
GO
insert into [Students] values('SE05001','Dao Thanh Hung',CAST(N'2001-04-04' AS Date),1,'NWC202')
insert into [Students] values('SE05002','Tran Hung Dung',CAST(N'2003-03-04' AS Date),1,'CSI101')
insert into [Students] values('SE05003','Le Khanh Van',CAST(N'2001-05-04' AS Date),0,'CSI101')

GO

CREATE TABLE [dbo].[Instructors](
	[InstructorID] [nvarchar](10) NOT NULL,
	[InstructorName] [nvarchar](30) NOT NULL,
	[BirthDate] datetime not NULL,
	[Gender] [bit] NULL,
	[SubjectID] [varchar](10)  references [Subjects](SubjectID),
	primary key([InstructorID],[SubjectID])
)
GO
insert into [Instructors] values('HungDM','Doan Manh Hung',CAST(N'1978-01-04' AS Date),1,'NWC202')
insert into [Instructors] values('SonDC','Dao Cong Son',CAST(N'1979-01-03' AS Date),1,'NWC202')

insert into [Instructors] values('CaTC','Tran Cao Ca',CAST(N'1988-01-02' AS Date),1,'CSI101')





select * from Students

select * from Subjects

select * from Instructors

select * from Instructors i join Subjects s on i.SubjectID=s.SubjectID where 1=1

select * from Students i join Subjects s on i.SubjectID=s.SubjectID where 1=1