*{
    margin: 0;
}
h1{
    color: rgb(255, 0, 0);
    text-align: center;
}
h2{
    color: rgb(106, 190, 223);
}
span{
    color: goldenrod;
}
label{
    color: rgb(106, 190, 223);    
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* padding-left: 10px; */
    margin: 0px;
}
.menu li a{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: #26a1d1;
}

.logo img {
    width: 250px;
    /* width: 50%; */
}

.search button {
    background-color: orange;
    color: white;
}

.banner{
    display: flex;
}
.banner img{
    width: 50%;
}


.bestSeller{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
}

.bestSeller h1{
    width: 100%;
}

.bestsell_img{
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
} 
.bestsell_right{
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
}
.bestsell_img img{
    width: 100%;
}
.gift{
    display: flex;
    justify-content: space-around;
}

.gift img{
    height: 150px;
}

.gift div{
    display: flex;
    flex-direction: column;
}

.newSell{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}
.newSell h1{
    width: 100%;
    margin-bottom: 30px;
}

.product{
    /* border: 1px solid black;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;

}
.product img{
    /* width: 80%; */
    width: 250px;
    height: 250px;
}
.productname{
    /* background-color: orange;
    display: block; */
    background-color: orange;
    color: #fff;
    display: inline-block;
    padding: 10px;
    width: 250px;
}

.footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
    padding: 20px;
}
.footer p,
.footer h5 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 10px;
}

